.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
.github/**
docs/**
**/.eslintrc.json
biome.json
eslint.config.js
.git
.gitignore
**/.DS_Store
node_modules/**/.bin/**
**/*.vsix
.vscode-test.mjs
